.recent__list {
    @include flex-item(row, flex-start);
    list-style-type: decimal;

    li {
        opacity: $opacity-medium;
        margin: 0 2em;

        p {
            margin-left: 0.5em;
        }

        &::marker {
            font-family: $ff-header;
            font-weight: bold;
        }
    }

    @media (max-width: $breakpoint-phone) {
        @include flex-item(column, flex-start, flex-start);
        list-style-type: none;

        li {
            margin: 1em 0;

            p {
                margin-left: 0;
            }
        }
    }
}