.socials {
    @include flex-item(row, center, space-between);
    width: 100%;
    max-width: 81.25rem;
    
    &__list {
        @include flex-item(row, center, center);

        li {
            margin: 0 2em;

            &:last-child {
                margin: 0 0 0 2em;
            }

            a:not(.cta-button) {
                opacity: $opacity-medium;
            }
        }
    }

    @media (max-width: $breakpoint-phone) {
        display: none;
    }
}
