// Colors

$color-background-main: #eee0cb;
$color-main: #2E282A;
$color-accent: rgb(211, 0, 0);

// Font sizes

$fs-h1: clamp(2.5rem, 3.5rem + 1vmin, 5rem);
$fs-nav: clamp(1rem, 0.7rem + 1vmin, 2rem);
$fs-li: 1rem;

// Font families

$ff-header: 'Fraunces', serif;
$ff-content: 'Inter', sans-serif;

// Opacity

$opacity-medium: 0.6; 

// Breakpoints

$breakpoint-phone: 60rem;