// Colors

$color-background-main: #eee0cb;
$color-main: #2e282a;
$color-accent: rgb(211, 0, 0);

// Font sizes

$fs-h1: clamp(2.5rem, 3.5rem + 1vmin, 5rem);
$fs-nav: clamp(1rem, 0.7rem + 1vmin, 2rem);
$fs-body: 1.125rem;

// Font families

$ff-header: "Fraunces", serif;
$ff-content: "Inter", sans-serif;

// Breakpoints

$breakpoint-phone: 93.75rem;

// Widths

$width-container: 93.75rem;
