@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

html,
body {
  min-height: 100%;
}

body {
  @include flex-item(column, center, flex-start);
  background-color: $color-background-main;
  padding: 3% 8%;
  font-size: $fs-body;
}

header,
main {
  max-width: $width-container;
}

main {
  @include flex-item(column);
  flex-grow: 1;
}

h1,
h2,
h3 {
  font-family: $ff-header;
}

:not(h1, h2, h3) {
  font-family: $ff-content;
}

h1 {
  font-size: $fs-h1;
  font-weight: 700;
}

p {
  max-width: 70ch;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: black;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.cta-button {
  padding: 0.5em 1.5em;
  border-radius: 0.15em;
  font-family: $ff-header;
  background-color: $color-main;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.accent {
  font-family: $ff-header;
  color: $color-accent;
}

::selection {
  color: $color-accent;
}
